<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrashRpt.CPP" version="2.0.16.0" targetFramework="Native" />
  <package id="curl" version="7.30.0.2" targetFramework="Native" />
  <package id="curl.redist" version="7.30.0.2" targetFramework="Native" />
  <package id="libssh2" version="1.4.3.3" targetFramework="Native" />
  <package id="libssh2.redist" version="1.4.3.3" targetFramework="Native" />
  <package id="openssl" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="Native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="Native" />
  <package id="zlib" version="1.2.8.8" targetFramework="Native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="Native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="Native" />
</packages>